 p {
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-size: 20px;
     float: left;
     margin-left: 400px;
 }

 #teamm {
     text-align: center;
     margin-left: -200px;
     padding-top: 20px;
 }

 #social {
     float: right;
     margin-right: 150px;
 }

 #social img {
     width: 50%;
     float: left;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 * {
     box-sizing: border-box;
 }

 header {
     border: black;
 }

 header nav ul li {
     display: inline-block;
 }

 header nav {
     display: inline-block;
     margin-top: 2px;
     background-color: rgb(151, 148, 148);
     width: 100%;
 }

 header nav ul div {
     display: inline-block;
     margin-left: 900px;
     margin-bottom: 20px;
     word-spacing: 25px;
 }

 nav h1 {
     text-align: center;
     font-size: 40px;
     /*background-color: rgb(156, 167, 187);
    height: 100%;*/
 }

 h2 {
     font-family: cursive;
 }

 ul li a {
     text-decoration: none;
     font-family: cursive;
     color: black;
     margin-bottom: 20px;
 }

 p {
     font-family: cursive;
 }

 h3 {
     font-family: cursive;
 }

 article section {
     display: inline-block;
 }

 .left {
     padding-top: 50px;
 }

 #phone {
     margin-right: 50px;
 }

 .right {
     top: 180px;
     left: 600px;
     /* padding-left: 70%;*/
     padding-bottom: 30%;
     margin-bottom: 100px;
     width: 40%;
     height: 50%;
     /* margin-top: -300px;*/
     position: absolute;
     /* width: 150px;*/
     /*height: 50%;*/
 }

 section div h2 {
     padding-left: 1%;
 }

 /*
section div form fieldset p{
    padding-left: 50px;
}
*/

 form {
     width: 100%;
     height: 70%;
     /*  padding-left: 100px;*/
     background-color: #f8fcf8;
     margin: 15px;
 }

 /*
#joinForm{
   width: 80%;
   height: 80%;
   padding-left: 60%;
}*/

 /* input[type=text] { */

 form .input {
     width: 100%;
     /* padding: 15px; */
     /*margin: 5px, 0, 22px ,0;*/
     /* padding-top: 20px;
    padding-bottom: 15px; */
     display: inline-block;
     border: none;
     background: #f1f1f1;
     padding-top: 20px;
     border-style: inset;
 }

 /* form fieldset input{
    padding-top: 20px;
    margin-top: 10px;


}   */

 #submit {
     background-color: #044e4b;
     color: blanchedalmond;
 }

 #submitm {
     display: none;
     width: 50%;
     height: 40%;
 }

 article section h2 {
     font-family: Arial, Helvetica, sans-serif;
 }

 .left {
     display: block;
     margin-top: 100px;
     width: 80%;
     height: 100%;
     position: absolute;
 }

 #titlee {
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-size: 20px;
 }


 /* ........................................... Flip Cards */

 .conTent {
     display: flex;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
     max-width: 1000px;
     display: inline-block;
     margin-left: 100px;
     margin-top: 800px;
 }

 .card {
     color: inherit;
     cursor: pointer;
     width: calc(33% - 2rem);
     min-width: calc(33% - 2rem);
     height: 400px;
     min-height: 400px;
     perspective: 1000px;
     margin: 1rem;
     position: relative;
 }

 @media screen and (max-width: 800px) {
     .card {
         width: calc(50% - 2rem);
     }
 }

 @media screen and (max-width: 500px) {
     .card {
         width: 100%;
     }
 }

 .front, .back {
     display: flex;
     border-radius: 6px;
     background-position: center;
     background-size: cover;
     text-align: center;
     justify-content: center;
     align-items: center;
     /* position: absolute; */
     width: 250px;
     height: 300px;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     transform-style: preserve-3d;
     transition: ease-in-out 600ms;
     border: 1px solid red;
 }

 .front {
     float: left;
     margin: 0px 18px 30px 0px;
     padding-left: 20px;
     background-image: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png");
     background-position: center;
     background-size: 210px;
     padding: 2rem;
     font-size: 1.618rem;
     font-weight: 600;
     color: #fff;
     overflow: hidden;
     font-family: Poppins, sans-serif;
 }

 .front:before {
     position: absolute;
     display: block;
     content: "";
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: linear-gradient(135deg, #1a9be6, #1a57e6);
     opacity: 0.25;
     z-index: -1;
 }

 .card:hover .front {
     transform: rotateY(180deg);
 }

 .back {
     background: #fff;
     transform: rotateY(-180deg);
     padding: 0 2em;
     /* position: absolute; */
 }

 .back p {position: relative;top: 10px;left: -200px;}

 .front:hover .back {
     transform: rotateY(0deg);
 }

 .card:hover .back {
     transform: rotateY(0deg);
 }

 /* .....................Button  */

 .back .button {
     background: linear-gradient(135deg, #1a9be6, #1a57e6);
 }

 .back .button:before {
     box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
     background-color: rgba(26, 87, 230, 0.25);
 }

 .card:hover .back {
     transform: rotateY(0deg);
 }

 .card:nth-child(even) .back {
     transform: rotateY(180deg);
 }

 .card:nth-child(even) .back .button {
     background: linear-gradient(135deg, #e61a80, #e61a3c);
 }

 .card:nth-child(even) .back .button:before {
     box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
     background-color: rgba(230, 26, 60, 0.25);
 }

 .card:nth-child(even):hover .back {
     transform: rotateY(0deg);
 }

 .button {
     transform: translateZ(40px);
     cursor: pointer;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     font-weight: bold;
     color: #fff;
     padding: 0.5em 1em;
     border-radius: 100px;
     font: inherit;
     border: none;
     position: relative;
     transform-style: preserve-3d;
     transition: 300ms ease;
 }

 .button:before {
     transition: 300ms ease;
     position: absolute;
     display: block;
     content: "";
     transform: translateZ(-40px);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     height: calc(100% - 20px);
     width: calc(100% - 20px);
     border-radius: 100px;
     left: 10px;
     top: 16px;
 }

 .button:hover {
     transform: translateZ(55px);
 }

 .button:hover:before {
     transform: translateZ(-55px);
 }

 .button:active {
     transform: translateZ(20px);
 }

 .button:active:before {
     transform: translateZ(-20px);
     top: 12px;
 }

 /*
nav{width: 100%;height: 40px;background-color: gray;text-align: right;font-size: 20px;position: fixed;}
ul li{display: inline-block;}
nav ul li:first-child{float: left;}
ul li a{display: inline-block;padding-top: 13px;text-align: center;width: 80px;height: 40px;
    text-decoration: none;color: white;font-size: 15px;}
nav ul li a:hover{background-color: lightgray;}*/